<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">

	<display-name>dc-manager</display-name>
	<description>dc-manager V0.0.1-SNAPSHOT</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring/applicationContext.xml,
					classpath*:/datasource/applicationContext-datasource.xml,
					classpath*:/mybatis/applicationContext-mybatis.xml,
					classpath*:/transaction/applicationContext-transaction.xml,
					classpath*:/localeResolver/applicationContext-localeResolver.xml,
					classpath*:/freemarker/freemarker.xml
		</param-value>
	</context-param>

	<!-- Filter start -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>encodingConvertFilter</filter-name>
		<filter-class>com.dc.common.filter.EncodingConvertFilter</filter-class>
		<init-param>
			<param-name>fromEncoding</param-name>
			<param-value>ISO8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>toEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- 验证码验证 -->
	<!-- <filter> <filter-name>adminLoginJCaptchaFilter</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> -->
	<!-- filter end -->

	<!-- filter mapping start -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingConvertFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <filter-mapping> <filter-name>adminLoginJCaptchaFilter</filter-name> 
		<url-pattern>/admin/loginVerify.jhtml</url-pattern> </filter-mapping> -->
	<!-- filter mapping end -->

	<!-- listener start -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- listener end -->
	<!-- servelt start -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/mvc/applicationContext-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.jhtml</url-pattern>
	</servlet-mapping>
	<!-- servelt mappint end -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
